/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

html,
body {
	  font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    background: #fff;
}

body a,
.btn-agile,
a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}
a {
	color: #05408D;
}
a:hover {
  color: #ca371e;
}
p.blod{
	font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
   /* font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Orienta', sans-serif;
}

p {
    line-height: 1.8;
    font-size: 1em;
    color: #222244;
    font-weight: 100;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body a:hover {
    text-decoration: none;
}

/* banner */

/* header */
header.main_header_section{
	    box-shadow: 0 2px 20px 0 rgba(30,34,38,.18);
}
h1 a.navbar-brand {
    font-size: 0.8em;
    font-weight: 800;
    color: #ab3031;
    line-height: 24px;
    padding-bottom: 0;
}

h1 a.navbar-brand span {
    color: #222244;
    display: block;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 3px;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 600;
    text-transform: capitalize;
    color: #222244;
    letter-spacing: 1px;
		font-size: 14px;
		letter-spacing: .2px;
		text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .active>.nav-link {
	/*background: #06418d;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;*/
color: #05408D;
}

button.btn.btn-agile.btn-block.w-25 {
    background: #05408D;
    font-weight: 600;
		text-transform: uppercase;
}
button.btn.btn-agile.btn-block.w-25:hover{
		background: #05408D;
}

/*--/navbar--*/

nav.navbar.fixed-top.navbar-expand-lg.navbar-light.navbar-fixed-top.top-nav-collapse {
    background: #f7eb48;
    top: 0px;
}

/*--logo--*/

/*-- //header --*/

/* banner */

.dropdown-item.active,
.dropdown-item:active {
    background: #fff;
    color: #c9333f;
}

.start-selling-banner {
    background: #0673ba;
    position: relative;
    z-index: 0;
	/*height: 500px;*/
	height: auto;
}
/*.page-banner img{
	height: 500px;
}	*/

.banner-text-agile {
    box-sizing: border-box;
}

h3.b-w3ltxt span {
    font-weight: 100;
    text-shadow: none;
    letter-spacing: 1px;
}
h3.sub-title{
	font-style:bold;
	font-size: 1.075em;
	/*padding-top: 5px;*/
}
.header-top {
   /* padding: 1em 0;*/
    background: #05408D;
		transition: .5s ease;
}
.header-top .cart-icon img {
	height: 25px;
	width: 25px;
}
.header-top a{
	color: #ffffff;
}
/* navigation */

/*--/header --*/

header.mainheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

nav.navbar.second {
    border: none !important;
    transition: all 1s ease;
}

/*--/navbar--*/

/*-- /nav.navbar.second --*/

nav.navbar.second {
    border: none !important;
    transition: all 1s ease;
}

nav.navbar.shrink.pagescrollfix {
    width: 100%;
    position: fixed;
    left: 0px;
    transition: all 1.2s ease;
		background: #ffffff;
    z-index: 9;
    top: 0;
    transition: all 1.5s ease;
		-webkit-box-shadow: 0 2px 20px 0 rgba(30,34,38,.18);
    box-shadow: 0 2px 20px 0 rgba(30,34,38,.18)
}
.navbar-toggler{
	display: contents;
}
nav.navbar.shrink .navbar-toggler {
    transition: all 1.5s ease;
}
nav.navbar.shrink  a,nav.navbar.shrink span{
	color: black !important;

}
nav.navbar.shrink a.navbar-brand {
	background: #05408D;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
nav.navbar.shrink, a.active{
	color:black
}
nav.navbar.shrink a.dropdown-item{
	background: #06418d;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
.bg-transparent {
    background: transparent;
}

/*-- //nav.navbar.second --*/

/* //navigation */

h3.b-w3ltxt {
    font-size: 3.28em;
}

.carousel-item p {
    color: #222244;
    font-weight: 100;
    text-transform: capitalize;
    font-size: 19px;
    width: 90%;
	font-weight: 500;
}

.btn-banner {
    background: #fff;
    border-radius: 40px;
    color: #222244;
    font-weight: 600;
    font-size: 14px;
    padding: 12px 30px;
		text-transform: uppercase;
		letter-spacing: 1px
}

.carousel-indicators {
    position: absolute;
    bottom: -53px;
    margin-left: 0;
    justify-content: flex-start;
    z-index: 1;
}

.carousel-indicators li {
    cursor: pointer;
}

ul.social-iconsv2 li {
    display: inline-block;
    border-radius: 50%;
}

ul.social-iconsv2 li a {
    text-decoration: none;
    font-size: 16px;
}

ul.social-iconsv2 li a i.fab {
    font-size: 18px;
    line-height: 38px;
    width: 30px;
    height: 37px;
    color: #ffffff;
    margin-right: 15px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

ul.social-iconsv2 li:first-child a {
    color: #3b5998;
}

ul.social-iconsv2 li:last-child {
    color: #287bbc;
}

/* //banner */

.serv_bottom {
		background-color:#0673BA;
}
.serv_bottom img{
	max-width: 50%
}
.about-text-grid {
    padding-left: 4em;
}

.bg-theme {
    color: #fff !important;
    background: #FF5722 !important;
}

.abbot-right img {
    box-shadow: 0px 3px 10px 5px rgba(144, 141, 141, 0.96);
}

.abbot-right {
    position: relative;
    z-index: 0;
}

.abbot-right span {
    border: 9px solid #d6d6d6;
    position: absolute;
    width: 530px;
    height: 425px;
    left: -22px;
    top: -29px;
    z-index: -1;
}

h4.agile-ser_bot {
    font-size: 1.8em;
    line-height: 1.5;
}
h4 {
    font-size: 1.4em;
    line-height: 1.5;
}
a.serv_link,.banner_btn {
	letter-spacing: 1px;
	word-spacing: 3px;
	padding: 15px 34px;
	font-size: 18px;
	font-weight: 600;
	margin-top: 10px;
}
.btn{
	border-radius: 0;
}
.banner{
	padding-bottom: 10px
}
.banner h5{
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
}
.banner h3{
	font-weight: 600
}
.banner i{
		position:relative;
		top: 2px;
}
.banner ul li{
	font-weight: 500
}
.banner .blue_color_class{
	font-size: 3.68rem
}
.banner_btn{
	margin-bottom: 10px;
	color: #05408D;
	background: white;
	border:1px solid #05408D;
	box-shadow: 5px 5px #05629e;
}
.explore_now{
	box-shadow: 5px 5px #05629e;
	border: 1px solid #05408D;
	color: #05408D
}
.explore_now:hover{
	box-shadow: -5px -5px #05629e;
}
.stay_touch{
box-shadow: 0px 1px 15px 3px #0673ba
}

.btn:focus{
	box-shadow: none;
}
/* about bottom */

h3.stat-title {
    color: #05408D;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bold;
}

/* //about bottom */

/* pricing */

.w3ls-pricing.card {
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    transition: all .3s ease-in-out;
    padding: 2.25rem;
    position: relative;
    background: #006879;
}

.w3ls-pricing.card i {
    position: absolute;
    right: 40px;
    bottom: 23px;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.32);
}

section#services,
#contact::after {

}
.contact-bottom h5{

}
section#services, h2{
	font-weight: 600;
}
section#services, .indivisual-service{
	padding: 2%;
	cursor: pointer;
	transition:  .5s ease;
}
section#services, .indivisual-service:hover img {
	transform: scale(1);
}
section#services, .indivisual-service h4{
	font-size: 1.2rem
}
section#services, .indivisual-service p{
	font-size: 0.92rem
}
section#services, .indivisual-service:hover{
	box-shadow: 0px 8px 15px #05408d4d;
	transform: scale(1.01);
	transition:  .5s ease;
	z-index: 100
}
section#services, .indivisual-service:hover h4{
	font-size: 1.2rem;
		color: #05408D
}
section#services, .indivisual-service:hover p {
	font-size: 0.92rem
}

a.price_link {
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	word-spacing: 3px;
	padding: 7px 18px;
	border-radius: 40px;
  font-size: 13px;
  background: #05408D;
  text-transform: uppercase
}

.card-title {
    margin-bottom: 3em;
    font-size: 14px;
    color: #fff;
}

.w3ls-pricing.card-header::after {
    content: "";
    display: table;
    clear: both;
}

.w3ls-pricing.card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #ff5722;
    transition: 0.5s;
}

h4.serv-title {
    font-size: 1.5em;
    font-weight: 600;
    color: #17a2b8;
}

.w3ls-pricing.card:hover,
.w3ls-pricing.card.service-active {
    transform: scale(1.15);
    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    z-index: 1;
}

.w3ls-pricing.card:hover p,
.w3ls-pricing.service-active p {
    color: #222244;
}

.w3ls-pricing.card.service-active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ff5722;
    transition: 0.5s;
}

.w3ls-pricing.card:hover:after {
    width: 100%;
}

.w3ls-pricing .card-header {
    color: #222244;
    background: transparent;
    padding-left: 0;
    border-bottom: none;
    text-transform: capitalize;
}

h4.price-title {
    font-size: 1.2em;
}

.w3ls-pricing .card-block {
    padding-top: 0;
}

/* //pricing */

/*-- text Slider --*/

.testimonials {
    background: #F9F9F9;
    background-size: cover;
    padding: 2em 0;
}

#slider {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}

.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0, 0, 0, .25);
    box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}

.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255, 255, 255, .1);
    color: #fff;
    font-weight: bold;
}

.events {
    list-style: none;
}

.callbacks_container {
    position: relative;
}

ul.callbacks_tabs {
    z-index: 2;
    right: 10%;
    bottom: 50px;
}

.callbacks_tabs a {
    visibility: hidden;
}

.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	visibility: visible;
	display: inline-block;
	height: 10px;
	width: 10px;
	background: #0673ba;
	border-radius: 50%;
}

.callbacks_here a:after {
    background: #c9333f;
}

/*
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	top: 78%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 34px;
	width: 34px;
	background: url("../images/left.png") no-repeat 0px 0px;
}
.callbacks_nav.prev {
	left: auto;
	background: url("../images/back.png") no-repeat 0px 0px;
	left: 18em;
}
.callbacks_nav.next {
	left: auto;
	background: url("../images/next.png") no-repeat 0px 0px;
	right: 18em;
}
.callbacks_nav:active {
	opacity: 1.0;
}
.callbacks2_nav:active {
	opacity: 1.0;
}*/

#slider-pager a {
    display: inline-block;
}

#slider-pager span {
    float: left;
}

#slider-pager span {
    width: 100px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 30em;
    opacity: 0.6;
}

#slider-pager .rslides_here a {
    background: #FFF;
    border-radius: 30em;
    opacity: 1;
}

#slider-pager a {
    padding: 0;
}

#slider-pager li {
    display: inline-block;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    left: 0%;
    top: 0;
    width: 100%;
}

.rslides li {
    position: relative;
    display: block;
    float: none;
}

.rslides img {
    height: auto;
    border: 0;
}

.callbacks_tabs li {
    display: inline-block;
}

.callbacks_tabs a {
    visibility: hidden;
    line-height: 19px;
    height: 20px;
    text-align: center;
    color: #222244;
    font-weight: 600;
    display: block;
    background: #fff;
    border-radius: 50%;
}

.callbacks_tabs a:hover {
    background: #1165f3;
    color: #fff;
}

.testi-agile {
    position: relative;
}
.testi-agile i{
	color: #0673BA;
}


.testi-agile h4 {
    color: #222244;
    font-size: 1em;
    text-transform: capitalize;
    font-weight: bold;
   /* font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
}

.testi-agile p {
    color: #222244;
		border-radius: 5px;
}
.testi-agile h4{
	font-size: 35px
}
.testi-agile img{
	width: 100%;
	height: 280px;
	object-fit: cover;
}
/* //testimonials */

/* footer */
footer,footer a, footer p,footer p a	 {
	background: #172030;
	color: white
}
footer{
	clear: both;
}
footer .list-unstyled li span{
	font-weight: 400
}
.footer_grid1 span {
    line-height: 1.5;
}

.list-unstyled li span {

    font-weight: 600;
}

input[type="submit"] {
    cursor: pointer;
}

#footer h5 {
    margin-bottom: 20px;

    text-transform: capitalize;
    font-size: 1.4em;
}

#footer ul.social li {
    padding: 3px 0;
}

.footer-logo h2 a {
    font-size: 0.9em;
    text-transform: capitalize;
}

.footer-logo p {
    font-size: 14px;
}

.footer-logo h2 a span {
    display: block;
    font-size: 0.5em;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: 600;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;

}

#footer ul.quick-links li a:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

fv3-contact span {
    color: #56ab2f;
    font-size: 1.2em;
    display: inline-block;
    background: #eee;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}

.fv3-contact p {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}


@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

/*-- footer */

/*-- services --*/

#service {
    background: #fff;
}

.contact-top {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 0;
		background-image: url("/images/Information-bg.jpg");
		background-repeat:repeat;
		background-position: bottom;
}
.contact-top .content-contact-top{
	max-width: 1200px;
	margin: auto;
	padding: 5%
}


/* Start Selling Section*/
.start-selling-banner-bottom {
	height: 80px;
	width: auto;
	background: #fff;
}
.box{
	background: #06418d;
	min-height:100px;
}

.grid_1{
	/*padding:2em 0;*/
	/*padding-top: 50px;*/
}
ul.list1{
	padding:0;
	list-style:none;
	margin:0;
}
ul.list1 li.list1_right{
	overflow:hidden;
	text-align: left;
}
ul.list1 li.list1_right p{
	color: #fff;
	text-align: center;
	margin: 1.5em auto
}
i.clock1,i.vehicle,i.dollar,i.lock{
	width: 80px;
	height: 94px;
	background: url(../images/img-sprite.png)no-repeat;
	float: left;
}
i.lock{
	background-position:-109px 6px;
}
.box2, .box3, .box4, .box5{
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
}

.box2, .box3, .box4, .box5 {
	min-height: 50px;
}
/*--contact--*/

.w3-contact {
    background: #fff;
}

.contact-bottom h5,
.wthree-form-left h5 {
    color: #222244;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.contact-right-w3ls span {
    background: #05408D;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #eee;
    font-size: 1.5em;
    text-align: center;
    border-radius: 50%;
}

.fv3-contact h6 {
    text-transform: uppercase;
    color: #222244;
    margin-bottom: 10px;
}

.address h5 {
    color: #222244;
    text-transform: capitalize;
    font-size: 1.1em;
}

.address p a,
p.c-txt {
    color: #777;
}

.address p a:hover {
    color: #222244;
}

form.contact-wthree label {
    width: 30%;
    line-height: 2.5;
    color: #222244;
    font-weight: 600;
}

form.contact-wthree .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #a135ec4f;
}

.contact-top1 h5 {
    font-size: 2em;
}

.address h5 {
    font-size: 1.5em;
}

/*--//contact--*/

.icon i {
    width: 100px;
    height: 100px;
    color: #05408D;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    font-size: 3em;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    background: #ffffff;
		border: 1px solid #05408D;
}

.services-box h4 {
    text-transform: uppercase;
    font-size: 1em;
    margin: 1em 0;
    color: #05408D;
		font-weight: 600;
		font-family: 'Montserrat', sans-serif;
}

/*==Products details*/
.prod-sec {
	height: auto;
	border-style: solid;
  border-width: 0;
	box-shadow: 0px 8px 15px #05408d4d;
	padding-bottom: 3%
}
.prod-sec .prod-dtls {
	height: auto;
}
.prod-sec .buy-sec {
	height: 20%;
	margin: 0 1em 1em;
}
.prod-sec .prodName-Sec {
	line-height: 35px;
}
.prod-img {
    position: relative;
    /*margin: 1em 0 0;*/
}
.prod-content-sec {
	margin: 0.5em 1em 1em;
}

.prod-img img {
    width: 100%;
	height: 180px;
}
.prod-dtls-img img{
	width: 100%;
	height: 360px;
}
.cart-prod-img img{
	width: 180px;
	height: 180px;
}
.prod-dtls h2{
	font-style:bold;
	font-size: 1.175em;
}
.prod-dtls h3{
	font-style:bold;
	font-size: 1.075em;
	color:#05408D;
	line-height: 40px;
	/*padding-top: 5px;*/
}
.prod-content-sec p{
	font-size: 14px;
	line-height: 40px
}
.prod-content-sec h3 span.caticon {
	width: 10px;
	height: 10px;
	background-image: url(images/icons/blog.png);
	float: left;
}
/*Buy Button*/
.buy-Btn {
	width: 100%;
	background-color:#2d9ba7;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #2d9ba7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
	text-align:center;
	padding:14px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aabaa7;
}
.buy-Btn:hover {
	background-color:#189ba7;
}
.buy-sec a:hover {
	color:#ffffff;
}
.buy-Btn:active {
	position:relative;
	top:1px;
}
/*Cart Button*/
.cart-btn  {
	width: 100%;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	border:1px solid #06418d;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
	text-align:center;
	padding:14px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aabaa7;
}

/*//end Products section*/

.team-block h5 {
    color: #10aebd;
    text-transform: capitalize;
    font-size: 1.3em;
}

.team-block h5 {
    color: #10aebd;
    text-transform: uppercase;
    font-size: 1.2em;
}

.team-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.43);
    bottom: 0px;
    display: inline-block;
    width: 100%;
    color: #fff;
    top: 0px;
    left: 0;
    text-align: center;
}

.team-content h4 {
    background: #252323;
    padding: 10px 0;
    font-size: 1.2em;
    text-transform: capitalize;
}

h5.blog-title {
    font-size: 1.2em;
    color: #00a199;
    margin-bottom: 1em;
}

section.section-events {
    background: #eee;
}

.sub-sec-grid {
    background: #fff;
}

.pos-date {
    position: absolute;
    height: 100px;
    width: 100px;
    transition: .3s all ease-in-out;
    background: #ffeb3b;
    border: 5px solid #ffffff;
    top: 50%;
    left: 31.5%;
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
    -webkit-transform-origin: top left;
    /* transform-origin: top left; */
    text-align: center;
}

.pos-date-even {
    position: absolute;
    height: 100px;
    width: 100px;
    transition: .3s all ease-in-out;
    background: #ffeb3b;
    border: 3px solid #eeeeee;
    top: 50%;
    right: 22.5%;
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
    -webkit-transform-origin: top left;
    /* transform-origin: top left; */
    text-align: center;
}

.date-grid-agile-left {
    padding-right: 4em;
}

.date-grid-agile-right {
    padding-left: 4em;
}

.sub-sec-grid:hover .pos-date,
.sub-sec-grid:hover .pos-date-even {
    background: #20a1b6;
}

.pos-date__inner {
    position: absolute;
    vertical-align: middle;
    width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transition: .3s all ease-in-out;
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
    transform: rotate(-45deg) translate(-50%, -50%);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.pos-date__title {
    position: relative;
    font-size: 2rem;
}

.pos-date__title:after {
    position: relative;
    background: #f64861;
    width: 40px;
    height: 3px;
    top: 0;
    display: block;
    content: '';
    margin: 8px auto 0;
}

.team-img {
    position: relative;
    margin: 1em 0 0;
}

.testi-pos img {
    max-width: 295px;
		width: 100%;
		height: 295px;
		margin-bottom: 24px;
		box-shadow: 19px 20px 0px 0px #0673BA;
}

.overlay {
    border-radius: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: #11181f;
}

.team-img:hover .overlay {
    opacity: .8;
}

.team-img:hover .team-content {
    opacity: 0;
}

.text {
    position: absolute;
    top: 35%;
    left: 26%;
    width: 100%;
    transform: translate(-26%, -26%);
    -ms-transform: translate(-26%, -26%);
    right: 0;
    font-weight: 400;
    font-size: 16px;
}

/* //blog */

.cpy-right {
    background: #111825
}

.cpy-right p a {
    color: #fff;
}

/*-- bottom-to-top --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/

/* -- Responsive code -- */

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1080px) {
    .abbot-right span {
        width: 453px;
        height: 377px;
        left: -25px;
    }
    .pos-date {
        top: 38%;
    }
}

@media screen and (max-width: 1050px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 991px) {
	.features_grids{
		padding: 0 !important
	}
	.navbar-nav ul li:hover{
		color: white !important;
		background: #06418d;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
	}
	.navbar-nav ul li:hover a{
		color: white
	}
    h3.b-w3ltxt {
        font-size: 2.6em;
    }
    .abbot-right span {
        width: 86%;
        height: 366px;
    }
    .about-text-grid {
        padding-left: 0em;
        margin-top: 2em;
    }
    h3.stat-title {
        font-size: 2.5em;
    }
    .testi-agile p {
        width: 99%;
    }

    .pos-date {
        top: 65%;
        left: 50%;
    }
    .pos-date-even {
        top: 35%;
        right: 37.5%;
    }

}

@media screen and (max-width: 900px) {
    .testimonials {
        padding: 4em 0 2em;
    }
}

@media screen and (max-width: 800px) {
    h3.b-w3ltxt {
        font-size: 2.5em;
    }
    h4.agile-ser_bot {
        font-size: 1.6em;
    }
    .w3ls-pricing.card:hover,
    .w3ls-pricing.card.service-active {
        transform: scale(1.05);
    }
    .testi-pos {
        left: 41%;
    }
}

@media screen and (max-width: 768px) {
    h3.b-w3ltxt {
        font-size: 2.2em;
    }
    .abbot-right span {
        width: 76%;
        left: 39px;
    }
}

@media screen and (max-width: 736px) {
    .carousel-item p {
        font-size: 16px;
    }
    .abbot-right span {
        width: 86%;
        height: 400px;
    }
    .about-text-grid {
        margin-top: 4em;
    }
    .pos-date {
        top: 55%;
    }
    .pos-date-even {
        top: 45%;
    }
}

@media screen and (max-width: 667px) {
    h4.agile-ser_bot {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 640px) {
    .testi-agile {
        padding: 2em 0 10em;
    }
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 568px) {
    .abbot-right span {
        border-color: transparent;
    }
    .about-text-grid {
        padding-left: 1em;
        margin-top: 3em;
    }
    h3.stat-title {
        font-size: 2.3em;
    }
    .w-75 {
        width: 100% !important;
    }
    .contact-right-w3ls span {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 480px) {
    h3.b-w3ltxt {
        font-size: 1.8em;
    }
    .btn-banner {
        font-size: 13px;
        padding: 6px 14px;
    }
    .carousel-item p {
        font-size: 15px;
        width: 60%;
    }
    h1 a.navbar-brand {
        font-size: 0.7em;
    }
    h1 a.navbar-brand span {
        font-size: 12px;
        letter-spacing: 2px;
    }
    h4.agile-ser_bot {
        font-size: 1.3em;
    }
    a.serv_link {
        letter-spacing: 0px;
        padding: 6px 22px;
        font-size: 15px;
    }
    h3.stat-title {
        font-size: 2em;
    }
    .testi-agile p {
        padding: 2em 2em 4em;
    }
    .testi-pos {
        left: 38%;
    }
    .pos-date {
        top: 51%;
        left: 54%;
    }
    .pos-date-even {
        top: 49%;
    }
    .date-grid-agile-right {
        padding-left: 1em;
    }
    .date-grid-agile-left {
        padding-right: 1em;
    }
    .pos-date__inner {
        left: 48%;
    }
    .contact-bottom h5, .wthree-form-left h5 {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 414px) {
    .carousel-item p {
        font-size: 15px;
    }
    section#sub-services h3.stat-title {
        font-size: 1.8em;
    }
    .icon i {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 2em;
    }
    .pos-date {
        top: 24%;
    }
    .pos-date-even {
        top: 71%;
        right: 39%;
    }
}

@media screen and (max-width: 384px) {
    .header-top p {
        font-size: 15px;
    }
    .carousel-item p {
        width: 64%;
    }
    h4.agile-ser_bot {
        font-size: 1.2em;
    }
    p {
        font-size: 0.9em;
    }
    h3.stat-title {
        font-size: 1.8em;
    }
    section#sub-services h3.stat-title {
        font-size: 1.6em;
    }
    .testimonials {
        padding: 2em 0 1em;
    }
    .pos-date-even {
        top: 80%;
    }
    .fv3-contact h6 {
        font-size: 0.95em;
    }
    #footer h5 {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 375px) {
    .contact-add {
        padding-left: 2em;
    }
    form.contact-wthree label {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 320px) {
    .header-top p {
        font-size: 12px;
    }
    ul.social-iconsv2 li a i.fab {
        margin-right: 5px;
    }
    h3.b-w3ltxt {
        font-size: 1.5em;
    }
    .carousel-item p {
        width: 80%;
        font-size: 14px;
    }
    .carousel-indicators {
        bottom: -40px;
    }
    h4.agile-ser_bot {
        font-size: 1.15em;
    }
    section#sub-services h3.stat-title {
        font-size: 1.4em;
    }
    h3.stat-title {
        font-size: 1.8em;
    }
    .testi-pos {
        left: 31%;
    }
}

/* -- //Responsive code -- */
/* -- External code written by Rakesh */
.color-blue{
	color: #05408D;
}
.yellow_btn{
	color: #222244;
	background: #ffffff;
}
.yellow_btn:hover{
	color: black;
	box-shadow:  0px 1px 15px 3px #0673ba;
}
.blue_btn{
	color: #05408D;
	background: #ffffff;
	border: 1px solid #05408D;
}
.btn-primary:not(:disabled):not(.disabled):active{
	border: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus{
	border: none;
	box-shadow: none
}
.blue_btn:hover{
	color: #05408D;
}

.login_register_section{
	padding: 2%;
}
.form-control:focus{
	border: none;
	box-shadow: none;
}
.purple-text{
	background: #06418d;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.purple-btn{
	background: #06418d;
}
.purple-btn:hover{
	background: white;
	border: 1px solid #06418d;
	color: #06418d;
}

/* Register Page Design */
.register_section_design{
	padding: 4% 0;
}
.nunito-font{
	font-family: 'Nunito Sans', sans-serif;
}
.montserrat-font{
	font-family: 'Montserrat', sans-serif;
}
.qstn_ans_section .panel p{
	text-align: justify;
	font-size: 15px
}
.how_it_works{
	padding-top:2%;
	padding-bottom: 2%;
	transition: .5s ease;
}
.how_it_works:hover{
	transform: scale(1.01);
	padding-top:2%;
	padding-bottom: 2%;
	box-shadow: 0px 8px 15px #05408d4d;
	transition: .5s ease;
cursor: pointer;
}
.how_it_works:hover p {
	font-size: 16px
}
.how_it_works:hover h4{
	color: #05408D;
}
.client_products a {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	text-align: center;
}
.client_products a:hover{
	background: #06418d;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent
}

.edit_profile .logo a img{
	border-radius: 50%;
	text-align: center;
	width:150px
}
.edit_profile  .navi ul li{
	padding: 5% 0
}
.edit_profile  .navi span{
	font-weight: 500
}
.add-project{
	font-weight: 600;
	color: white;
	background: #05408D;
	margin-bottom: 10px
}
.edit_profile_action_btn button{
	font-weight: 600;
	    padding: 1.2% 10%;
			width: auto;
			opacity: 1;
			border-radius: 0;
			letter-spacing: .7px
}
.edit_profile_action_btn button.cancel-project{
	color: #05408D
}
.edit_profile .insert_new_project{
	padding: 0.8% 3%;
}
.client_profile_dashboard_left{
    padding: 13px 0 15px 25px;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0px 0px 0px 0px rgba(0,0,0,0.12);
		max-width: 270px;
		z-index: -1;
		height: -webkit-fill-available;
}
.client_profile_dashboard_right .circle .profile-pic{
	width: 100px;
	padding-left: 17px;
	margin-bottom: 5px
}
textarea{
	background: #FDFDFD !important;
	 text-align: left;
	 padding: 2%
}
#txtProfession,#txtProfession option {
	font-weight: 500;
	border: white;
	    border: 1px solid rgb(245, 246, 247)
}
#txtProfession option:hover {
		cursor: pointer;
}
.dropdown-menu{
	border: 0;
  box-shadow: 0px 8px 15px #05408d4d;
  padding: 8% 15% 8% 8%;
	border-radius: 0
}
.client_add_blog .form-group{
	text-align: left;
}
.client_add_blog select.form-control{
	border-bottom: none;
	font-family: 500
}
.client_add_blog .bfrom form{
	max-width: 850px;
	margin: auto;
	padding: 3% 4% 5% 4%;
	box-shadow: 0px 8px 15px #05408d4d;
	margin-bottom: 15px
}
.client_add_blog .bfrom{
	margin: auto;
	width: 100%
}
.client_add_blog option:hover{
	background: green
}
.client_add_blog select, .client_add_blog option{
	font-weight: 500
}
.client_add_blog .control-label{
	font-weight: 500
}
.client_add_blog .edit_profile_action_btn{
	width: auto!important;
}

.client_add_blog .edit_profile_action_btn .add_for_sell{
	background: #05408D
}
.client_add_blog .edit_profile_action_btn a {
	font-weight: 600;
	color: white;
	padding: 3% 10%;
	width: auto;
	opacity: 1;
	border-radius: 0;
	letter-spacing: .7px;
	vertical-align: middle;
	float: left;
	display: inline
}

.my_domain_section .prod-content-sec p{
	font-size: 16px
}
.my_domain_section .prod-content-sec a.btn{
	padding: 1.5% 8%;
	border-radius: 0;
	border: none;
	font-weight: 500
}
.my_domain_section .prod-content-sec .view_details{
		background: #05408D;
		color: white;
}
.my_domain_section .prod-content-sec .edit_details{
	background: #DDDDDD;
	color: #05408D;
	border: 1px solid #DDDDDD
}

.cancel_domain{
	background: #DDDDDD;
	color: #05408D;
	font-weight: 600;
  padding: 14px 20px;
	margin: 8px 0;
	border-radius: 0;
	border: none
}
.cancel_domain:hover {
	background: transparent;
	color: #05408D;
	border: 1px solid #05408D
}
.client_products .add-project{
	background: none;
	color: #05408D
}

.font-size-5{
	font-size: 50px;
}
.font-size-4{
	font-size: 40px
}
.font-size-3{
	font-size: 30px;
}
.font-size-2{
	font-size: 20px
}
.orienta-font{
	font-family: 'Orienta', sans-serif;
}
.serv_bottom h4.font-size-5{
	line-height: 60px;
}
.oppertinity_section a{
	box-shadow: 5px 5px #05629e;
}
.oppertinity_section a:hover,.oppertinity_section a:active{
	box-shadow: none;
}
.oppertinity_section a{
	color: #05629e;
}
.show-wordpress-blog{
	text-align: center;
}
.show-wordpress-blog h2{
	padding: 10px 0 25px 0
}
.show-wordpress-blog .three-sub-section h3 a{
	font-size: 20px;
	margin-top: 18px;
}
.show-wordpress-blog .size-blog_thumb{
	width: 100%;
	height: 220px;
	object-fit: cover;
	border-radius: 6px
}
.client_company_name{
	font-size: 20px;
	font-weight: 600;
	color: #222244;
}
.blue_color_class{
	color: #0673BA
}
.mons-font{
		font-family: 'Montserrat', sans-serif !important
}
.get_a_quote{
	background:  url(../images/quote.png);
	background-repeat: repeat;
	padding: 25px 0;
	margin-top: 15px
}
.divider_button{
	background: white;
	color: #0673BA;
	font-weight: 600;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
	border-radius: 0
}
.divider_button i{
	position: relative;
	top: 1px
}
.btn-explore-banner{
	border-radius: 0;
	background: #0673BA;
	color: white;
	border:1px solid #0673BA;
	padding: 14px 35px;
	font-weight: 600;
	letter-spacing: .7px
}
.btn-explore-banner:hover{
	background: white;
	color: #0673BA
}


/*Service Section Design*/
.choose_services{
	font-size: 3rem;
	font-weight: 600
}
.service_page_body{
	background: #F9F9F9
}
.service_page_body h2{
	text-align: center;
	padding: 20px 0 10px 0;
}
.service_page_body .row{
	padding-top: 20px
}

.services_card h3{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 20px;
	padding: 10px 0 10px 0;
}
.services_card{
	background: white;
	padding: 10px 20px 20px 25px;
	margin:10px 0;
	box-shadow: -1px 0px 6px #05408d4d
}
.service_page_body h2{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}
.service_page_section_dividor{
	background: #0673BA;
	padding: 2px;
	width: 100px;
	margin: 1rem auto;
}
.services_card .text-center{
	padding: 15px 0
}
.services_card p{
	font-weight: 400;
	padding: 10px 0
}
.service_devider{
	background: #F0F0F0;
	padding: 2px 0;
	width: 50%;
	margin: auto;
}
.services_card .fa-long-arrow-alt-right{
	position: relative;
	top: 1.5px
}
.read_more_service_btn{
	text-align: center;
	display: block;
	background: #0673BA;
	color: white;
	width: 80%;
	margin: auto;
	border:1px solid #6773BA;
	font-weight: 500;
	letter-spacing: .7px;
	margin-top: 10px
}
.read_more_service_btn:hover{
	background: white;
	color: #0673BA
}

ul.service_ul li{
	line-height: 40px
}
ul.service_ul li i{
	color: #0673BA;
	position: relative;
	top: 1.2px;
	font-size: 18px;
	padding-right: 3px
}
/*Single Service Section*/
.second_service_section{
	padding: 20px 0;
	max-width: 788px;
	margin: 2rem auto;
	width: 100%
}
.second_service_section h2{
	text-align: center;
	padding: 15px 0;
	font-size: 3rem;
}
.second_service_section p{
	line-height: 2.5rem;
	font-size:18px;
	text-align: center;
	letter-spacing: .3px
}
.third_service_section{
	padding: 98px 0
}
.third_service_section h2{
	padding-bottom: 25px;
	text-align: center;
	font-size: 3rem;
}
.third_service_section{
	background: #0673BA;
	color: white;
}
.third_service_section .container .row{
	max-width: 750px;
	margin: auto;
}


.third_service_section p{
	color: white;
	line-height: 2.5rem;
	font-size:18px;
	letter-spacing: .3px
}
.services_with_img img{
  width: 102.35%;
	object-fit: cover;
}
.service_single_big_img img{
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}
.services_with_img .row{
	align-items: center;
}
.background_blue_color{
	background: #0673BA;
	color: white
}
.background_blue_color p,.background_blue_color a{
	color: white
}

@media screen and (min-width: 992px) {
	.service_small_box {
	 width: 480px;
	 margin: 2rem auto;
	}

	.services_with_img img{
		height: 418px;
	}
	.service_single_big_img img{
		height: 675px
	}

	}


.service_small_box h3{
	font-size: 30px;
	font-weight: 400;
	padding: 20px 0 30px 0;
	font-family: 'Ubuntu', sans-serif
}

.services_with_img p{
	line-height: 2.5rem;
	font-size:18px;
	letter-spacing: .3px
}










/*Contct us form*/
.contact-page-section .form-group .form-control{
	border: 1px solid #0673ba91
}
.contact-page-section form{
	max-width: 530px
}
form .form-group label{
	/*width:72px;*/
	font-weight: 500;
	color: #0673BA;
	text-transform: capitalize;
	padding-bottom: 5px
}
form .form-group input,form .form-group textarea{
	padding-left: 10px;
	background: #FBFCFE;
	border: 1px solid rgb(245, 246, 247);
	font-size: 17px;
	margin-bottom: 15px
}
.form-group .btn-explore-banner{
	max-width: 30%;
	padding: 10px 35px;
	margin-top: 10px
}
.contact-page-section .row{
	box-shadow: 0px 8px 15px #05408d4d;
}
.contact-page-section .row h3{
	padding-bottom: 15px
}
 .contact_left_row, .contact_right_row{
	padding: 25px;

}
.contact-page-section i{
	font-size: 20px;
	position: relative;
	top: 1.8px
}
.contact_right_row,.contact_right_row a{
	background: #0673BA;
	color: white
}
.contact_right_row .contact_form_dividor{
	background: white
}
.contact_left_row .contact_form_dividor{
	background: #0673BA
}
.contact_form_dividor{
	padding: .8px;
	width: 100px;
	margin: auto;
}
.contact_form_email_section, form{
	padding-top: 20px
}


/*Price Table Design*/
.pricing-plans-row{
	text-align: center;
	width: 72.56%;
	float: right;
}
.pricing-package{
	padding: 10px;
}.pricing-package h3{
	font-weight: 900;
	padding: 10px;
	color: #06418d;
}
.main_price_table table th,.main_price_table table td{
	text-align: center;
}
.main_price_table .table>tbody>tr>td{
	border: 1px solid #ddd !important
}
.table th{
	border-top: none
}
.table th.border-color{
	border: 1px solid #ddd!important
}
.main_price_table table td{
	border-bottom: 1px solid #ddd !important
}
.main_price_table table td i{
	font-size: 22px;
}
.main_price_table table td i.fa-minus{
	color: #ddd;
}
.main_price_table table td i.fa-check-circle{
	color: #06418d;
	opacity: 0.7
}
.table thead th{
	border-bottom: none;
	border: 1px solid #ddd
}
.table_left_service_name{
	font-weight: 500;
	padding: 0.75rem 1rem
}
.service_price{
	padding-top: 15px;
	font-size: 28px;
	color: #06418d;
}
table .btn-explore-banner{
	padding: 9px 35px
}



/*Carrier Page Design*/
.carrier_positions{
	padding: 20px 0
}
.single_job_posts ul li{
	border-bottom: 1px solid #e5e5e5;
	padding: 10PX 0
}
.single_job_post h4{
	padding: 10px 0
}
.single_job_post p{
	padding: 5px 0
}


.about_us .about_us_header{
	  background: url(../images/quote.png);
		background-repeat: repeat;
		padding: 55px 0
}
.about_us_details{
	max-width: 950px;
	margin: auto;
	padding: 15px 0;
}
.our_jobs {
	text-align: center;
	background: #0673ba;
	padding: 15px 0 35px
}
.our_jobs h3,.our_jobs p,.our_jobs h2{
	color: white
}

.our_jobs h3{
	padding: 7px 0;
}
.our_jobs img{
	width: 100%;
	height: 220px;
	object-fit: cover;
}
.our_passion {
	padding: 46px 0 50px 0
}
.our_passion h3{
	margin-bottom: 15px
}
.our_passion ul li img{
	width: 40px;
	height: 40px;
	margin-right: 10px;
	max-width: 250px;

}
.our_passion ul li{
	float: left;
padding: 0 14px;
width: 205px;
border-right: 1px solid #0673ba;
margin: 0 7px 0 12px;
line-height: initial
}
.our_passion ul li:first-child{
	margin-left: 0;
	padding-left: 0
}
.our_passion ul li:last-child{
	margin-right: 0;
	border-right: none;
	padding-right: 0
}
.our_passion ul li a:hover{
	padding-left: 5px
}
.our_jobs_section{
	display: block;
}
.our_goals_img{
	float: left;
}
.company_portfolio .portfolio_social ul li{
	display: inline-block;
	margin-right: 10px;
	padding: 15px 0
}
.company_portfolio .portfolio_social ul li:last-child{
	margin-right: 0
}
.portfolio{
	max-width: 1000px;
	margin: auto;
	background: #0673ba;
	padding-bottom: 35px;
	color: white
}

.portfolio_profile .col-sm-6{
	border-right: 1px solid #ffffff73
}
.portfolio_profile .row{
	margin: 0
}
.portfolio_profile .row:nth-child(-n+2){
	border-bottom: 1px solid #ffffff73;
		padding: 25px 0;
}
.portfolio_profile .col-sm-6:nth-child(2){
	border-right: none;
}
.portfolio h4,.portfolio p{
	color: white
}

.portfolio_img img{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.your_blog_lists .features_grids{
	max-width: initial
}


/*indivisual domain Icons*/
.single_featured:before{
content: "";
background-image: url("/images/icons/tick.png");
background-repeat: no-repeat;
display: inline-block;
position: relative;
width: 25px;
height: 25px;
top: 12px
}
.purple_opp_btn{
	border:1px solid #06418d;
	color: #06418d;
	background: white;
}
.purple_opp_btn:hover{
	color: white;
	background: #06418d;
	border: 1px solid #06418d;
}
