
:root {
    --pure-white: #ffffff;
    --darkblue: #20267f;
    --pinkish-red: #fc2865;
    --aegean-blue: #0673ba;

}
.pinkish-red-color{
    color: var(--pinkish-red);
}
.aegean-blue-color{
    color: var(--aegean-blue);
}
.darkblue-color{
    color: var(--darkblue);
}
.what-others-say-testimonial {
    color:var(--pinkish-red);
    font-size: 1.1rem;
    font-weight: 800;
    /* font-family: "Poppins", Poppins; */
}

.sliderbar {
    background-image: linear-gradient(120deg, #0673ba0a 0%, #0d538117 100%);
    /* background-image: linear-gradient(120deg, #0673ba 0%, #0d5381 100%); */
    padding: 7rem 3rem 8.5rem;
}

.what-others-say-bo-slider-h1 {
    font-size: 3.2rem;
    color: var(--aegean-blue);
    /* font-family: "Poppins", Poppins; */
}

.carousel-indicators {
    position: absolute;
    bottom: -53px;
    margin-left: 0;
    justify-content: center;
    z-index: 1;
	margin: auto !important;
}

.carousel-indicators li {
    cursor: pointer;
}
.para1 {
    color: #161637;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 15px !important;
    width: 100% !important;
}

.what-others-say-bo-ci-h4 {
    /* font-family: "Poppins", Poppins; */
    font-size: 1rem;
	letter-spacing: .02em;
}
 
 .slider {
    height: inherit !important;
	width: 100% !important;
}
.carousel-inner {
	position: relative;
	width: 48rem;
	text-align: center;
	margin: 0 auto;
}

.carousel {
	background: lavender;
    /* background: rosybrown; */
	border-radius: 16px;
    padding: 2.5rem 1rem 2rem;
	margin-top: 0rem;

}



.carousel-control-prev-icon,
.carousel-control-next-icon {
	/* background-color: rgb(100, 126, 151); */
	background-color: var(--pure-white);
	border-radius: 100px;
	width: 55px;
	height: 55px;
	background-image: none;
}

.imageslider {
	height: 80px;
	border-radius: 50%;
	width: 80px;
	border: 3px solid var(--aegean-blue);
}

.para {
	color: #161637;
	font-weight: 700;
	font-family: Inter, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.paraname {
	color: var(--aegean-blue);
	font-weight: 700;
	font-size: 17px;
	margin-bottom: 0px;
}

.carousel-indicators [data-bs-target] {
	background-color: var(--aegean-blue);
	/* border-bottom: 69px solid transparent; */
}

.iconbutton {
	vertical-align: -20px;
	color: var(--pinkish-red);
	font-size: 1.5rem;
}

.carousel-indicators .active {
	opacity: 3;
	width: 5rem;
	transition: width .6s cubic-bezier(.3, .86, .36, .95), opacity .6s cubic-bezier(.3, .86, .36, .95);
}

.header { 
	font-weight: 400;
	font-size: 1.2rem;
	text-align: center;
}

.containerslider {
	display: flex;
	gap: 27px;
	margin: auto;
    justify-content: center;
	padding: 35px 35px 0;
}

.sliderbox1 {
	text-align: left;
	padding: 12px 7px;
	height: fit-content;
}
@media  (max-width: 992px) {
	.containerslider {
		padding: 0 !important;
	}
	.carousel-inner {
		width: 100%;
	}
	.slider {
		margin-bottom: 1rem;
	}
	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		display: none;
	}
}
@media(max-width:767px){
	.what-others-say-bo-slider-h1 {
		font-size: 2.2rem;
	}
}
@media(max-width:575px){
	.containerslider {
		gap: 1px !important;
	}
	.sliderbox1 {
		width: 50% !important;
		text-align: center !important;
	}
    .sliderbar {
		margin-top: 1rem !important;
        padding: 2rem 12px 3.5rem !important;
    }
	.what-others-say-bo-slider-h1 {
        font-size: 1.9rem !important;
    }

 }
 @media(max-width:400px){
	.what-others-say-bo-slider-h1 {
        font-size: 1.45rem !important;
    }

 }